#deposit,
#withdraw {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#deposit-list,
#withdraw-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.deposit-pack,
.withdraw-pack {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 55px;
    height: 60px;
    gap: 12px;
    border-radius: 15px;
    background-color: var(--hover-back);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.1s;
}

.deposit-pack::after,
.withdraw-pack::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 30px;
    border: 2px solid var(--invert-back);
    width: 18px;
    height: 18px;
}

.pack-selected {
    border-color: var(--invert-back);
}

.pack-selected::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    border-radius: 30px;
    background-color: var(--invert-back);
    width: 10px;
    height: 10px;
}

#withdraw-info,
#deposit-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.withdraw-info-box,
.deposit-info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
}