#modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    z-index: 10;
}

#modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 670px;
    border-radius: 15px 15px 0 0;
    background-color: var(--default-back);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.364);
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

#modal.modal-open {
  transform: translateY(0);
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

#modal-content {
    display: flex;
    flex-direction: column;
    min-height: 230px;
    padding-top: 0;
    padding-inline: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
}