#deposit,
#withdraw {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#deposit-list,
#withdraw-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 190px;
}

.deposit-pack,
.withdraw-pack {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 55px;
    height: 60px;
    gap: 12px;
    border-radius: 15px;
    background-color: var(--hover-back);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.1s;
}

.deposit-pack::after,
.withdraw-pack::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 30px;
    border: 2px solid var(--invert-back);
    width: 18px;
    height: 18px;
}

#withdraw-info,
#deposit-info {
    display: flex;
    align-items: center;
    gap: 35px;
}

.withdraw-info-box,
.deposit-info-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#withdraw-menu,
#deposit-menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    padding-inline: 15px;
    padding-block: 25px 40px;
    backdrop-filter: blur(5px);
    background-color: var(--default-back-tr);
}

#pack-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 100px;
}

.pack-element {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px 14px;
    gap: 12px;
    border-radius: 15px;
    background-color: var(--hover-back);
    border: 2px solid;
    border-color: var(--hover-back);
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s;
}

.pack-selected {
    border-color: var(--default-border);
    background-color: var(--active-back);
}

.pack-unavailable {
    opacity: 1;
}

.pack-unavailable {
    opacity: 0.4;
}

.pack-mark {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    padding: 6px 8px;
}

.pack-mark#pack-favorite {
    background-color: rgb(239, 37, 148);
}

.pack-mark#pack-best {
    background-color: var(--green);
}

.pack-mark#pack-test {
    background-color: rgb(204, 114, 24);
}