#rules {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#rule-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#rules-component {
    padding: 5px;
    border-radius: 20px;
    background-color: var(--hover-back);
    min-height: 100px;
}

#rules-control {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
}