#profile {
    gap: 10px;
    padding-inline: 15px;
    padding-block: 20px;
}

#profile-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

#profile-image-box {
    position: relative;
    background: var(--hover-back);
    border-radius: 90px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#profile-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#profile-actions {
    display: flex;
    flex-direction: column;
}

.profile-action-box {
    display: flex;
    flex-direction: column;
}

#profile-depwith {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}