#events {
    gap: 15px;
}

#events-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-height: 420px;
    box-sizing: border-box;
}

.event-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-box:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.event-info,
#event-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.event-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.event-option {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.event-option-total {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.event-option.filled {
    align-items: center;
    justify-content: center;
    background-color: var(--hover-back);
    padding: 10px;
}

.event-option.win {
    border: 2px solid var(--default-border);
}

.winning_option {
    position: absolute;
    top: 10px;
    left: 10px;
}

.event-image,
#event-image {
    display: flex;
    min-width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}

.event-pool,
#event-pool {
    display: flex;
    align-items: center;
    gap: 5px;
}

#event-actions {
    display: flex;
    gap: 10px;
}

#event-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.event-filter-category {
    padding: 8px 12px;
    border-radius: 20px;
    background-color: var(--default-back);
}

#events-filters {
    display: flex;
    align-items: center;
    background-color: var(--default-back);
    padding: 5px;
    border-radius: 15px;
    gap: 5px;
}

.filter-box {
    display: flex;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.filter-box.selected {
    background-color: var(--hover-back);
}

.event-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* .event-stats-table {
    display: flex;
    width: 100%;
}

#event-stats,
#event-user-wagers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#event-user-participating {
    display: flex;
    align-items: start;
    width: fit-content;
    gap: 10px;
}

#event-user-participating span {
    margin-right: 8px;
}

.event-user-wager {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--hover-back);
    padding: 12px 14px;
    border-radius: 10px;
}

#event-user-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */